@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap);
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: rgb(38, 70, 83);
  overflow-x: hidden;
}

header {
  padding: 10px 0;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}

header h1 {
  text-transform: uppercase;
}

#modal-btn {
  border: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
}

.modal-box {
  margin: 10% auto;
  width: 600px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

form input,
form textarea,
form select {
  width: 95%;
  padding: 10px;
  outline: none;
  border: 1px solid #333;
  background-color: rgba(225, 225, 225, 0.2);
  font-family: inherit;
  color: #fff;
  border-radius: 10px;
  margin: 10px 0;
}

form input:focus,
form textarea:focus,
form select:focus {
  outline: none;
  border: 1px solid rgb(38, 70, 83);
}

form select option {
  color: #fff;
  background-color: rgba(51, 51, 51, 0.7);
}

form textarea {
  height: 100px;
}

form label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0;
}

.btn {
  background-color: rgb(38, 70, 83);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  margin-top: 10px;
  width: 100%;
}

.btn:hover {
  background-color: rgba(38, 70, 83, 0.9);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.ideas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.ideas .card {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 20px 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tag {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 14px;
}

.tag-technology {
  background: #006d77;
}

.tag-software {
  background: #f94144;
}

.tag-business {
  background: #ee9b00;
}

.tag-education {
  background: #4a4e69;
}

.tag-health {
  background: #588157;
}

.tag-inventions {
  background: #ffbe0b;
}

.delete {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: red;
  background: none;
  border: none;
}

.delete:hover {
  color: #000;
}

.date {
  color: #999;
  font-size: 14px;
}

@media (max-width: 768px) {
  .modal-box {
    width: 90%;
  }
}

